@page "/AboutUs"

<div class="container-md">
    <div class="my-4">
        <h2 class="fw-bold">درباره ما</h2>
        <h6 class="lh-base">
            به سایت تن جامه خوش آمدید. خدماتی که دروب سایت tanjameh.com در دسترس شما عزیزان می باشد توسط گروه تجاری
            لاگزس انگلستان و به نمایندگی از تن جامه ارائه می گردد. این شرکت در سال.................. در کشور انگلستان
            کار خود را با هدف ارائه بهترین روش خرید کالا از معتبرترین برندهای دنیا شروع نموده است.<br>
            در حال حاضر یکی از بهترین و آسانترین روش های خرید، خرید اینترنتی می باشد که در کشور ما ایران نیز بسیار رواج
            دارد. با توجه به محدودیت های زیاد برای خرید از سایت های خارجی، بر آن شدیم که با تشکیل گروه تن جامه بخشی از
            این محدودیت را کاسته و راهی آسان و ایمن را برای خرید مشتریان عزیز به وجود آوریم.<br>
            در سایت تن جامه محصولات 1.900 برند مختلف و معتبر جهانی اعم از پوشاک ، کیف و کفش ، زیورآلات و ... برای
            بانوان، آقایان و کودکان قابل مشاهده و سفارش است.<br>
            با استفاده از وب سایت تن جامه، کاربران می توانند محصولات مورد نظر خود را از میان 1.900 برند که یا در ایران
            نیست و یا به سختی پیدا می شوند انتخاب نموده و به صورت مستقیم سفارش دهند. سفارشات پس از طی زمان مشخص در کشور
            انگلستان توسط نمایندگان تن جامه دریافت و برای کاربران ارسال می گردد.<br>
            از مهمترین مزایای خرید از تن جامه می توان به پرداخت ریالی مبلغ از کلیه بانک های ایرانی اشاره کرد و به این
            ترتیب دیگر نیازی به کارت های اعتباری بین المللی نیست.<br>
            با تن جامه همیشه با مد جدید همراه باشید و از خرید خود لذت ببرید.

        </h6>
    </div>
</div>

@code {
    
}