@page "/HowToBuy"

<div class="container-md">
    <div class="my-4">
        <h2 class="fw-bold">راهنمای خرید از تن جامه </h2>
        <h6 class="lh-base">

            توسط سایت تن جامه میتوانید خریدهای خود را از میان 900 برند مختلف با محصولاتی متنوع و با استفاده از تمامی
            کارتهای عضو شتاب انجام دهید و محصول خریداری شده را بعد از 15 تا 20 روز کاری (روز کاری یعنی بدون احتساب
            پنجشنبه و جمعه و تعطیلات رسمی داخلی یا خارجی) درب منزل تحویل بگیرید<br>
        </h6>
    </div>
    <!-- Suggested -->
    <h4 class="fw-bold mb-3">مشاهده محصول </h4>
    <h6 class="lh-base">
        1) محصول مورد نظر خود را به فارسی یا انگلیسی در نوار جستجو نوشته و دکمه جستجود را بزنید<br>
        2) روش دیگر برای رسیدن به محصولات مورد نظر استفاده از منوی وب سایت است<br>
    </h6>
    <hr>
    <h4 class="fw-bold mb-3">مراحل خرید </h4>
    <h6 class="lh-base">
        در این صفحه سفارشات 6 ماه اخیر شما با تمامی مشخصات نشان داده می شود<br>
    </h6>
    <hr>
    <h4 class="fw-bold mb-3">اطلاعات کاربر</h4>
    <h6 class="lh-base">
        پس از وارد شدن در صفحه محصول مورد نظر، میتوانید تمامی مشخصات کالا مانند سایز،رنگ ،ابعاد ،جنس وهمچنین قیمت نهایی
        را مشاهده کرده و بعد از انتخاب موارد مورد نیاز، با کلیک بر روی گزینه " افزودن به سبد خرید " کالای مورد نظر را به
        سبد خرید اضافه کنید<br>
        پس از انتخاب و افزودن کالاهای مورد نظر به سبد خرید، از قسمت تسویه وارد صفحه جدیدی خواهید شد که در این صفحه
        مشخصات محصول ، زمان تخمینی تحویل کالا و قیمت نهایی نشان داده شده است<br> با کلیک بر روی گزینه تسویه حساب، در قسمت
        جدید باید آدرس دقیق پستی محلی که کاربر می¬خواهد محصول به آن ارسال شود را وارد نماید<br>
        در مرحله بعدی درگاه پرداخت برای کاربر نشان داده میشود که با هر کارت بانکی عضو شتاب می¬تواند پرداخت را انجام دهد<br>
        با انجام پرداخت و تایید، سفارش ثبت خواهد شد <br>
    </h6>


</div>

@code {
    
}