@page "/admin/category/fetch"

@using Tanjameh.BackgroundServices


<PageTitle>بروز رسانی منو های سایت</PageTitle>

<h3>ApiSystem</h3>
<div class="mx-3 my-2">
    <RadzenButton Icon="get_app" Text="بروز رسانی" Click="@FetchAction" Variant="Variant.Flat" />
</div>
