@page "/men"
@using Tanjameh.Features.Advers.Components
@using Tanjameh.Features.BrandAndType.Components
@using Tanjameh.Features.BrandAndType.Models


<PageTitle>تن جامه - مردانه</PageTitle>


@foreach (var item in Banners)
{
    <section>
        <AdverBannerType1 BannerData="item" />
    </section>
}


<section>
    <BrandSectionType BrandRequestType="BrandRequestType.Brand" Title="برندهای مردانه" AdditionalUrl="?gender=men" />
</section>

<section>
    <BrandSectionType BrandRequestType="BrandRequestType.ProductType" Title="دسته بندی مردانه" AdditionalUrl="?gender=men" />
</section>





